{
  "extends": "standard",
  "plugins": [
    "mocha",
    "require-path-exists"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "mocha/no-mocha-arrows": "error",
    "max-len": [ "error", {
      "code": 80,
      "ignorePattern": "^.*require\\s*\\("
    } ],
    "array-bracket-spacing": [ "error", "always" ],
    "object-curly-spacing": [ "error", "always"],
    "require-path-exists/notEmpty": "error",
    "require-path-exists/tooManyArguments": "error",
    "require-path-exists/exists": "error"
  }
}
